<div class="contenedor">
  <div class="image">
    <img src="{{url+'get-image/'+proyecto.imagen}}" *ngIf="proyecto.imagen">
  </div>
  <div class="data">
    <h2>Nombre</h2>
    <h3>{{proyecto.nombre}}</h3>
    <h3>Descripcion</h3>
    <p>{{proyecto.descripcion}}</p>
    <h3>Año</h3>
    <p>{{proyecto.anio}}</p>
    <h3>Catalogo</h3>
    <p>{{proyecto.categoria}}</p>
    <h3>lenguaje</h3>
    <p>{{proyecto.lenguaje}}</p>
    <p>
      <a [routerLink]="['/editproy',proyecto._id]" class="button-edit" >Editar</a>
      <a (click)="deleteProjecto(proyecto._id)" class="button-delete">Borrar</a>
    </p>
  </div>
</div>
