<div class="foot wrapper">
	<div class="ceroGrid">
		<img src="../../assets/img/banknotes-24.jpg" height="50px" width="50px" >	
	</div>
	<div class="oneGrid">
		<h2>Hacer una donacion Ahora</h2>
		<p>
	  	En definitiva, se trata de un “regalo”. Con él harás feliz a la persona que lo recibe y también obtendrás una satisfacción personal. Sin embargo, frente a la creencia de que este “regalo” es gratuito, debes saber que está gravado con varios impuestos.
		</p>
		<a href="#" >Conecer mas ...</a>
	</div>
	<div class="twoGrid">
		<img src="../../assets/img/collaborator-24.png" height="50px" width="50px" >	
	</div>
	<div class="threeGrid">		
		<h2>Necesitamos Volunatrios</h2>
		<p>Haz servicio comunitario. Dona tu tiempo y talentos. Nuestra comunidad te necesita. Haces Falta.</p>
		<a href="#" >Conecer mas ...</a>
	</div>
</div>